src/main/api/fl3xOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="orderData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="language" type="xs:string" minOccurs="0"/>
				<xs:element name="merchant" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string" minOccurs="0"/>
							<xs:element name="name" type="xs:string" minOccurs="1"/>
							<xs:element name="merchantId" type="xs:string" minOccurs="0"/>
							<xs:element name="channel" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="seller" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string"/>
							<xs:element name="sellerId" type="xs:string"/>
							<xs:element name="name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="customer" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string" minOccurs="1"/>
							<xs:element name="email" type="xs:string" minOccurs="1"/>
							<xs:element name="customerId" type="xs:string" minOccurs="1"/>
							<xs:element name="merchantCustomerId" type="xs:int" minOccurs="0"/>
							<xs:element name="marketingSubscriptionFlag" type="xs:boolean" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="marketing" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="notdecidedyet" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="orderHeader" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type" type="xs:string" minOccurs="0"/>
							<xs:element name="orderId" type="xs:string"/>
							<xs:element name="orderDate" type="xs:dateTime"/>
							<xs:element name="userSourceData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="device" type="xs:string"/>
										<xs:element name="ipAddress" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="giftDetails" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="orderIsGift" type="xs:boolean"/>
										<xs:element name="GiftMessage" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="charges" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="currency" type="xs:string" default="GBP" minOccurs="1"/>
										<xs:element name="netPrice" type="xs:decimal" minOccurs="1"/>
										<xs:element name="grossPrice" type="xs:decimal" minOccurs="0"/>
										<xs:element name="specialPackageCharge" type="xs:decimal" minOccurs="0"/>
										<xs:element name="adjustment" type="xs:decimal" minOccurs="0"/>
										<xs:element name="salesTax" type="xs:decimal" minOccurs="0"/>
										<xs:element name="netShippingCharge" type="xs:decimal" minOccurs="1"/>
										<xs:element name="grossShippingCharge" type="xs:decimal" minOccurs="0"/>
										<xs:element name="shippingOfferAdjustment" type="xs:decimal" minOccurs="0"/>
										<xs:element name="shippingTax" type="xs:decimal" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="promotion" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sellerPromotionCode" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="status" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="customerStatus" type="xs:string" minOccurs="1"/>
										<xs:element name="warehouseStatus" type="xs:string" minOccurs="0"/>
										<xs:element name="apiNotes" type="xs:string" minOccurs="0"/>
										<xs:element name="userNotes" type="xs:string" minOccurs="0"/>
										<xs:element name="callCenterNotes" type="xs:string" minOccurs="0"/>
										<xs:element name="orderCompleted" type="xs:boolean" minOccurs="0"/>
										<xs:element name="isCancelled" type="xs:boolean" minOccurs="0"/>
										<xs:element name="cancellationReason" type="xs:string" minOccurs="0"/>
										<xs:element name="lastUpdatedTimestamp" type="xs:dateTime" minOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="billingInfo" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="address" minOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="type" type="xs:string" minOccurs="1"/>
													<xs:element name="title" type="xs:string" minOccurs="1"/>
													<xs:element name="firstName" type="xs:string" minOccurs="1"/>
													<xs:element name="lastName" type="xs:string" minOccurs="0"/>
													<xs:element name="addressLine1" type="xs:string" minOccurs="1"/>
													<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
													<xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
													<xs:element name="town" type="xs:string" minOccurs="0"/>
													<xs:element name="county" type="xs:string" minOccurs="0"/>
													<xs:element name="country" type="xs:string" default="UK" minOccurs="1"/>
													<xs:element name="postcode" type="xs:string" minOccurs="1"/>
													<xs:element name="fax" type="xs:string" minOccurs="0"/>
													<xs:element name="email" type="xs:string" minOccurs="0"/>
													<xs:element name="phone" type="xs:int" minOccurs="0"/>
													<xs:element name="mob" type="xs:int" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="paymentInfo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="paymentMethod" type="xs:string" minOccurs="1"/>
													<xs:element name="cardholderName" type="xs:string" minOccurs="1"/>
													<xs:element name="cardType" type="xs:string" minOccurs="1"/>
													<xs:element name="lastfourDigits" type="xs:int" minOccurs="0"/>
													<xs:element name="obfuscatedCardNumber" type="xs:string" minOccurs="0"/>
													<xs:element name="encryptedCvv" type="xs:string" minOccurs="0"/>
													<xs:element name="encryptedAAV" type="xs:string" minOccurs="0"/>
													<xs:element name="secureComplete" type="xs:boolean" minOccurs="0"/>
													<xs:element name="paymentAuthorisationCode" type="xs:string" minOccurs="0"/>
													<xs:element name="expiryDate" type="xs:string" minOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="invoiceInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="invoiceNumber" type="xs:int"/>
										<xs:element name="invoiceDate" type="xs:dateTime"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="shippingInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="deliveryInformation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="deliveryMethod" type="xs:string" minOccurs="1"/>
													<xs:element name="shipmentDate" type="xs:date" minOccurs="0"/>
													<xs:element name="deliveryDate" type="xs:date" minOccurs="0"/>
													<xs:element name="shipbyDate" type="xs:date" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="status" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="shippedTimestamp" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="expectedArrivalFrom" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="expectedArrivalUntil" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="deliveredOn" type="xs:dateTime" minOccurs="0"/>
													<xs:element name="carrier" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="type" type="xs:string"/>
																<xs:element name="name" type="xs:string"/>
																<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="tracking" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="trackingId" type="xs:string"/>
																<xs:element name="trackingUrl" type="xs:anyURI" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="address" minOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="type" type="xs:string" minOccurs="1"/>
													<xs:element name="title" type="xs:string" minOccurs="0"/>
													<xs:element name="firstName" type="xs:string" minOccurs="1"/>
													<xs:element name="lastName" type="xs:string" minOccurs="1"/>
													<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
													<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
													<xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
													<xs:element name="town" type="xs:string" minOccurs="0"/>
													<xs:element name="county" type="xs:string" minOccurs="0"/>
													<xs:element name="country" type="xs:string" minOccurs="0"/>
													<xs:element name="postcode" type="xs:string" minOccurs="0"/>
													<xs:element name="fax" type="xs:string" minOccurs="0"/>
													<xs:element name="email" type="xs:string" minOccurs="0"/>
													<xs:element name="phone" type="xs:int" minOccurs="0"/>
													<xs:element name="mob" type="xs:int" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="orderItem" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="itemDetail" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" type="xs:string" minOccurs="0"/>
										<xs:element name="lineId" type="xs:int" minOccurs="1"/>
										<xs:element name="sku" type="xs:string" minOccurs="1"/>
										<xs:element name="alternateItemId" type="xs:int" minOccurs="0" nillable="true"/>
										<xs:element name="itemName" type="xs:string" minOccurs="0"/>
										<xs:element name="itemDescription" type="xs:string" minOccurs="0"/>
										<xs:element name="itemUrl" type="xs:anyURI" minOccurs="0"/>
										<xs:element name="grossPrice" type="xs:decimal" minOccurs="0"/>
										<xs:element name="netPrice" type="xs:decimal" minOccurs="0"/>
										<xs:element name="discount" type="xs:decimal" minOccurs="0"/>
										<xs:element name="tax" type="xs:decimal" minOccurs="0"/>
										<xs:element name="currency" type="xs:string" minOccurs="0"/>
										<xs:element name="quantity" type="xs:int" minOccurs="1"/>
										<xs:element name="itemStatus" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="statusCode" type="xs:string" minOccurs="0"/>
													<xs:element name="status" type="xs:string" minOccurs="0"/>
													<xs:element name="warehouseNotes" type="xs:string" minOccurs="0"/>
													<xs:element name="apiNotes" type="xs:string" minOccurs="0"/>
													<xs:element name="isCancelled" type="xs:boolean" minOccurs="0"/>
													<xs:element name="cancellationReason" type="xs:string" minOccurs="0"/>
													<xs:element name="lastUpdatedTimestamp" type="xs:dateTime" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
